.imagen{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: block;
    margin: 0.2em;
    margin-bottom: 0em;
    padding-bottom: 0em; 
    padding-top: 0em;
}

.barra {
    display: flex;
    list-style: none;
    margin: 12;
    background: rgb(4, 38, 73);
    padding: 0;

}
.barra li {
    flex: 3 1 0;
}
.barra li:first-child {
    flex: 3 2 0;
}

.barra a {
    font: 10px georgia;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 2px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 0;
    color: white;
    user-select: none;
}
.barra li:hover {
    background: royalblue;
}

h1{
  text-align: center;
}

.tabla_general {
    display: flex; /*permite que los elementos hijos sean ajustables automáticamenter. Dentro de este elemento hay otros que son las casas y se organizan según flex*/
    flex-wrap: wrap;
    background-color: rgb(238, 227, 243);
}

.casa_individual {
    width: 30%; /*aqui modifico como quiero que aparezca cada casa*/
    margin: 10px;
    margin-left: 40px;
    text-align: center;
    text-justify: auto;
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightgray;
}

.pie {
  background: rgb(198, 174, 220);
  grid-area: footer;
  text-align: center;
}

button{
  margin: 5px;
  padding: 5px;
}